.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus
{
    outline: none;
    outline-offset: 0
}

.btn:active
{
    box-shadow: inherit;
}

.btn:focus, .btn:hover
{
    color: unset
}

a:focus,
a:hover,
a:focus
{
    color: inherit;
    text-decoration: none;
    outline: none
}